<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>실시간 드라마 채팅 TVTalk!</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/theme_nickname_change.css" />
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>

</head>

<body>
    <div class="phone-wrapper">
        <header>
            <nav id="nav-bar">
                <div class="nav-wrapper">
                    <a href="/user" class="back"><img src="../images/back.png" width="25px"/></a>
                    <span class="brand-logo center">닉네임 변경하기</span>
                </div>
            </nav>
        </header>
        <div class="phone-body">
            <div class="join">
            <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s8 offset-s2">
                                <div class="input_title">현재별명</div>
                                <input id="input_nick_org" type="text" class="validate" maxlength=12 readOnly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8 offset-s2">
                                <div class="input_title">신규별명</div>
                                <input id="input_nick_new" type="text" class="validate" placeholder="변경할 닉네임을 입력하세요." maxlength=12 onkeyup="checkEndNick()">
                            </div>
                        </div>

                    </form>
                </div>

                <div class="row" style="margin-bottom: 4px">
                    <div class="button col s8 offset-s2">
                        <a class="waves-effect waves-light btn-large" id="button_change">닉네임 변경하기</a>
                    </div>
                </div>

             </div>
        </div>
    </div>


    <script src="../js/nickName.js"></script>

</body>

</html>