<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>실시간 드라마 채팅 TVTalk!</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../css/theme_user_info.css" />
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
</head>

<body>
    <div class="phone-wrapper">
        <header>
            <nav id="nav-bar">
                <div class="nav-wrapper">
                    <a href="/main" class="back"><img src="../images/back.png" width="25px"/></a>
                    <span class="brand-logo center">계정정보 변경</span>
                </div>
            </nav>
        </header>
        <div class="phone-body">
            <div class="user_info">
                <div class="row" style="margin-bottom: 0px">
                    <div id="logo">
                        <input id="select_img" type="file" name='file1' style='display: none;'>
                        <img id="profile_img" src='' class="circle" width="96px" height="96px" border='0' onclick='document.all.file1.click();'>
                    </div>
                </div>
                <div class="row">
                    <span id="nickname"></span>
                    <a href="/nickname_change"><img id="change_nickname" src="../images/info.png" alt="info_icon" width="15px"></a>
                </div>

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s8 offset-s2">
                                <div class="input_title">아이디</div>
                                <input id="input_id" type="email" class="validate" readonly >
                            </div>
                        </div>

                    </form>
                </div>

                <div class="row" style="margin-bottom: 4px">
                    <div class="button col s8 offset-s2">
                        <a class="waves-effect waves-light btn-large" id="button_pwd" href="javascript:checkUser();" >비밀번호 변경하기</a>
                    </div>
                    <div class="butoon col s8 offset-s2">
                        <a class="waves-effect waves-light btn-large" id="button_logout" href="/logout">로그아웃</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="../js/changeUserInfo.js"></script>


</body>

</html>